@use './colors.scss' as colors;

#home{
    padding: 10px 0;

    h1{
        margin-bottom: 20px;
        font-size: 2.5em;
        text-align: center;
        text-shadow: 0px 0px 5px rgb(71, 0, 71);
    }
}

.little{
    font-style: italic;
    font-size: 0.4em;
}

.appP{ 
    color: white;
    display: inline-block;

    padding: 5px;
    border-radius: 5px;
    border-bottom: 4px solid black;
    border-top: 4px solid black;

    background-color: colors.$chinese-violet;
}

#construction{
    display: block;
    width: 20%;

    text-align: center;
    font-weight: bold;

    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;

    background-color: rgb(165, 156, 77);
    background-image: url('/backgroundconstructiontile.png');
    background-size: contain;
    color: black;
}
