//Color pallete (maybe temporary)
$dark-purple: rgba(28, 2, 33, 1);
$chinese-violet: rgba(123, 94, 123, 1);
$beaver: rgba(147, 130, 116, 1);
$mindaro: rgba(233, 235, 135, 1);
$fire-red: rgba(202, 43, 22, 1);
//black and white for most text