@use './colors.scss' as colors;

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 5px;

    color: white;
    background-color: colors.$dark-purple;
    padding: 10px;
    height: 10%;

    border-bottom: solid 5px black;
    border-radius: 10px 10px 0 0;

    nav{
        width: 70%;
        margin-left: 10px;
    }
    #footer > a{
        color: blue;
        margin-right: 10px;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

}
.navItem{
    display: inline-block;
    color: inherit;
    background-color: colors.$chinese-violet;
    width: 15%;

    border-radius: 5px;
    margin-right: 12px;
    margin-left: 12px;
    padding: 5px;
    border-left: 2px solid white;
    border-right: 2px solid white;

    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.158);

    text-decoration: none;
    text-align: left;
    font-weight: bold;

    &:hover{
        animation: 0.5s linear forwards show;
        cursor: pointer;
    }
}

#window{
    background-color: white;
    background-image: url('/backgroundwindowtile.png');
    border: solid 5px black;
    border-radius: 20px;

    width: 70%;
    height: 70%;
    transform: translate(20%, 20%);

    @media (min-width: 1180px){
        width: 70%;
    }
    @media (max-width: 1180px){
        width: 90vw;
    }
}

#gamepad{
    width: 192px;
    transform: rotate(0.92turn);

    position: absolute;
    top: 5%;
    left: 3%;
}
#guitar{
    width: 192px;

    position: absolute;
    top: 70%;
    left: 3%;
}
#ghost{
    width: 192px;
    transform: rotate(-0.92turn);

    position: absolute;
    top: 10%;
    left: 87%;
}
#rghost{
    width: 192px;

    position: absolute;
    top: 70%;
    left: 87%;
}
.icon{
    position: relative;
    top: 0.15em;
    margin-right: 2px;
}

#test{
    background-color: colors.$mindaro;

    height: 50px;
    width: 50px;

    position: absolute;
    top: 240px;
    left: 50px;
}

@keyframes show{
    from{
        background-color: initial;
    }
    to{
        background-color: rgba(0, 0, 0, 0.76);
    }
}