@import './app.module.scss';

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    background-color: $dark-purple;
    padding: 10px;

    border-bottom: solid 5px black;
    border-radius: 10px;

    nav{
        margin-left: 10px;
    }
    nav > a{
        color: white;

        border-radius: 5px;
        margin-right: 25px;
        padding: 5px;

        text-decoration: none;

        &:hover{
            text-decoration: underline;
            animation: 0.5s linear forwards show;
        }
    }
    /*#footer{
        &:hover{
            background-color: black;
            animation: 0.5s linear forwards spin;
        }
    }*/
    #footer > a{
        color: blue;
        margin-right: 10px;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

}

#window{
    background-color: white;
    border: solid 5px black;
    border-radius: 20px;

    width: 70%;
    height: 70vh;
    transform: translate(20%, 20%);
}

@keyframes show{
    from{
        background-color: $dark-purple;
    }
    to{
        background-color: rgba(0, 0, 0, 0.76);
    }
}

@keyframes spin{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}