@use './colors.scss' as colors;

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    background-color: colors.$dark-purple;
    padding: 10px;
    height: 10%;

    border-bottom: solid 5px black;
    border-radius: 10px 10px 0 0;

    nav{
        margin-left: 10px;
    }
    nav > a{
        color: inherit;

        border-radius: 5px;
        margin-right: 25px;
        padding: 5px;

        text-decoration: none;

        &:hover{
            text-decoration: underline;
            animation: 0.5s linear forwards show;
        }
    }
    /*#footer{
        &:hover{
            background-color: black;
            animation: 0.5s linear forwards spin;
        }
    }*/
    #footer > a{
        color: blue;
        margin-right: 10px;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

}

#window{
    background-color: white;
    background-image: url('/backgroundwindowtile.png');
    border: solid 5px black;
    border-radius: 20px;

    width: 70%;
    height: 70%;
    transform: translate(20%, 20%);

    @media (min-width: 1180px){
        width: 70%;
    }
    @media (max-width: 1180px){
        width: 90vw;
    }
}

#gamepad{
    width: 192px;
    transform: rotate(0.92turn);

    position: absolute;
    top: 5%;
    left: 3%;
}
#guitar{
    width: 192px;

    position: absolute;
    top: 70%;
    left: 3%;
}
#ghost{
    width: 192px;
    transform: rotate(-0.92turn);

    position: absolute;
    top: 10%;
    left: 87%;
}
#rghost{
    width: 192px;

    position: absolute;
    top: 70%;
    left: 87%;
}

#test{
    background-color: colors.$mindaro;

    height: 50px;
    width: 50px;

    position: absolute;
    top: 240px;
    left: 50px;
}

@keyframes show{
    from{
        background-color: colors.$dark-purple;
    }
    to{
        background-color: rgba(0, 0, 0, 0.76);
    }
}

@keyframes spin{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}