@use '../colors.scss' as colors;

#blogRoot{
    height: 100%;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: colors.$dark-purple;
    color: white;

    height: 8%;
    padding: 15px;

    nav{
        display: flex;
        justify-content: center;
        width: 70%;
        margin-left: 10px;
    }

}

#blogBody{
    height: calc(89% - 30px); //intended size - 2 times navbar padding
    overflow-y: hidden;
}

.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}

#footer{
    height: 3%;
    text-align: center;
    background-color: black;
    color: white;

    a{
        color: blue;
        margin-right: 10px;
        text-decoration: none;
    
        &:hover{
            text-decoration: underline;
        }
    }
}