/*@font-face {
    font-family: 'Retro Gaming';
    src: local('/retro-gaming.ttf'), 
    url('/retro-gaming.ttf') format('font/ttf');
}*/

body{
    padding: 0;
    margin: 0;
    height: 100vh;

    background-color: rgb(116, 104, 83);
    background-image: url('/backgroundtile.png');

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#root{
    height: 100%;
}