/*@font-face {
    font-family: 'Retro Gaming';
    src: local('/retro-gaming.ttf'), 
    url('/retro-gaming.ttf') format('font/ttf');
}*/

:root{
    background-color: black;
    background-image: url('/backgroundtile.png');
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#root{
    height: 100%;
}